@media screen and (min-width:769px){
    .div1{
        width: 98%;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    
    }
    .box1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .box1a{
        border-radius: 5px;
        height: 150px;
        width: 49%;
        background-color: orange;
        margin-right: 1%;
        
    }
    .box1b{
        border-radius: 5px;
        height: 150px;
        width: 49%;
        background-color: orange;
        margin-left: 1%;
        
    }
    .box2{
        height: 150px;
        width: 100%;
        background-color: palevioletred;
        margin-top: 20px;
        border-radius: 5px;
        
    }
    
        
    .box3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }
    .box3a{
        height: 150px;
        width: 32%;
        background-color: #9292f5;
        border-radius: 5px;
        margin-right: 1%;
    }
    .box3b{
        height: 150px;
        width: 32%;
        background-color: rgb(146, 146, 245);
        border-radius: 5px;
        margin-left: 1%;
        margin-right: 1%;
    }
    .box3c{
        height: 150px;
        width: 32%;
        background-color: rgb(146, 146, 245);
        border-radius: 5px;
        margin-left: 1%;
    }
    
    
}
@media screen and (min-width:321px)  and (max-width:768px){
    .div1{
        width: 98%;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    
    }
    .box1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .box1a{
        border-radius: 5px;
        height: 150px;
        width: 49%;
        background-color: orange;
        margin-right: 1%;
        
    }
    .box1b{
        border-radius: 5px;
        height: 150px;
        width: 49%;
        background-color: orange;
        margin-left: 1%;
        
    }
    .box2{
        height: 150px;
        width: 100%;
        background-color: palevioletred;
        margin-top: 20px;
        border-radius: 5px;
        
    }
    
        
    .box3{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 20px;
    }
    .box3a{
        height: 100px;
        width: 100%;
        background-color: #9292f5;
        border-radius: 5px;
        margin-bottom: 20px;
        
    }
    .box3b{
        height: 100px;
        width: 100%;
        background-color: rgb(146, 146, 245);
        border-radius: 5px;
        margin-bottom: 20px;
        
    }
    .box3c{
        height: 100px;
        width: 100%;
        background-color: rgb(146, 146, 245);
        border-radius: 5px;
        
    }
}
  
@media screen and (max-width:320px) {
    .div1{
        width: 98%;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    
    }
    .box1{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .box1a{
        border-radius: 5px;
        height: 100px;
        width: 100%;
        background-color: orange;
        margin-bottom: 20px;
        
    }
    .box1b{
        border-radius: 5px;
        height: 100px;
        width: 100%;
        background-color: orange;
        
    }
    .box2{
        height: 150px;
        width: 100%;
        background-color: palevioletred;
        margin-top: 20px;
        border-radius: 5px;
        
    }
    
        
    .box3{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 20px;
    }
    .box3a{
        height: 100px;
        width: 100%;
        background-color: #9292f5;
        border-radius: 5px;
        margin-bottom: 20px;
        
    }
    .box3b{
        height: 100px;
        width: 100%;
        background-color: rgb(146, 146, 245);
        border-radius: 5px;
        margin-bottom: 20px;
        
    }
    .box3c{
        height: 100px;
        width: 100%;
        background-color: rgb(146, 146, 245);
        border-radius: 5px;
        
    }
}